<?xml version="1.0" encoding="UTF-8"?>
<hazelcast-client
        xsi:schemaLocation="http://www.hazelcast.com/schema/client-config
            http://www.hazelcast.com/schema/config/hazelcast-client-config-5.7.xsd"
        xmlns="http://www.hazelcast.com/schema/client-config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <cluster-name>{{ hazelcast_helm_release_name }}</cluster-name>

    <network>
        <cluster-members>
{% for address in hazelcast_member_service_addresses.results %}
            <address>{{ address.stdout }}</address>
{% endfor %}
        </cluster-members>
        <cluster-routing mode="ALL_MEMBERS"/>
        <redo-operation>true</redo-operation>
    </network>

    <properties>
        <property name="hazelcast.logging.type">log4j2</property>
        <property name="hazelcast.client.heartbeat.interval">1000</property>
        <property name="hazelcast.client.heartbeat.timeout">5000</property>
        <property name="hazelcast.client.invocation.retry.pause.millis">100</property>
        <property name="hazelcast.client.invocation.timeout.seconds">5</property>
        <property name="hazelcast.client.operation.backup.timeout.millis">100</property>
    </properties>

    <serialization>
        <compact-serialization>
            <serializers>
                <serializer>com.hazelcast.simudedupe.jet.DedupRequestCompactSerializer</serializer>
                <serializer>com.hazelcast.simudedupe.jet.DedupResultCompactSerializer</serializer>
                <serializer>com.hazelcast.simudedupe.jet.OperationIdPrefixPredicateCompactSerializer</serializer>
                <serializer>com.hazelcast.simudedupe.jet.DedupResultStatsAggregatorCompactSerializer</serializer>
                <serializer>com.hazelcast.simudedupe.jet.PostgresPrefixCountTaskCompactSerializer</serializer>
                <serializer>com.hazelcast.simudedupe.merchantprofile.MerchantProfileCompactSerializer</serializer>
                <serializer>com.hazelcast.simudedupe.merchantprofile.PostgresRunMarkerCountTaskCompactSerializer</serializer>
            </serializers>
        </compact-serialization>
    </serialization>

    <connection-strategy async-start="false" reconnect-mode="ON">
        <connection-retry>
            <initial-backoff-millis>200</initial-backoff-millis>
            <max-backoff-millis>10000</max-backoff-millis>
            <multiplier>1.5</multiplier>
            <cluster-connect-timeout-millis>30000</cluster-connect-timeout-millis>
            <jitter>0.2</jitter>
        </connection-retry>
    </connection-strategy>

</hazelcast-client>
