apiVersion: v1
kind: Secret
metadata:
  name: {{ hazelcast_custom_config_secret_name }}
  namespace: default
type: Opaque
stringData:
  hazelcast: |-
    management-center:
      scripting-enabled: true
    data-connection:
      {{ dedup_postgres_data_connection }}:
        type: JDBC
        properties:
          jdbcUrl: {{ dedup_postgres_jdbc_url }}
          user: {{ dedup_postgres_username }}
          password: {{ dedup_postgres_password }}
        shared: true
